<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
			<rules>
				<rule name="akmallItemIndex" stopProcessing="true">
                    <match url="Item/index.html" />
                    <action type="Rewrite" url="index.php?m=Item&amp;a=index" />
                </rule>
				<rule name="akmallIndex" stopProcessing="true">
                    <match url="index.html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=index" />
                </rule>
                <rule name="akmallOrder" stopProcessing="true">
                    <match url="^id/([A-Za-z0-9-]*).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=order&amp;id={R:1}" />
                </rule>
                <rule name="akmallQuery" stopProcessing="true">
                    <match url="^query.html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=query" />
                </rule>
                <rule name="akmallCategory" stopProcessing="true">
                    <match url="^category.html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=category" />
                </rule>
                <rule name="akmallCategoryId" stopProcessing="true">
                    <match url="^category-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=category&amp;id={R:1}" />
                </rule>
                <rule name="akmallArticle" stopProcessing="true">
                    <match url="^article.html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=article" />
                </rule>
                <rule name="akmallArticleId" stopProcessing="true">
                    <match url="^article-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=article&amp;id={R:1}" />
                </rule>
                <rule name="akmallDetailId" stopProcessing="true">
                    <match url="^detail-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=detail&amp;id={R:1}" />
                </rule>
                <rule name="akmallOrderSingleId" stopProcessing="true">
                    <match url="^single/(\w+)-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}&amp;uid={R:2}" />
                </rule>
                <rule name="akmallOrderSingle" stopProcessing="true">
                    <match url="^single/(\w+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}" />
                </rule>
                <rule name="akmallOrderDetailId" stopProcessing="true">
                    <match url="^detail/(\w+)-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}&amp;uid={R:2}&amp;tpl=detail" />
                </rule>
                <rule name="akmallOrderDetail" stopProcessing="true">
                    <match url="^detail/(\w+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}&amp;tpl=detail" />
                </rule>
                <rule name="akmallResult" stopProcessing="true">
                    <match url="^result/([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=result&amp;order_no={R:1}" />
                </rule>
                <rule name="akmallPay" stopProcessing="true">
                    <match url="^pay-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Index&amp;a=pay&amp;order_no={R:1}" />
                </rule>
                <rule name="akmallOrderSingleRand" stopProcessing="true">
                    <match url="^single/(\w+)/(\w+)/(\w+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}" />
                </rule>
                <rule name="akmallOrderSingleIdRand" stopProcessing="true">
                    <match url="^single/(\w+)-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=index&amp;id={R:1}&amp;uid={R:2}" />
                </rule>
                <rule name="akmallOrderDetailRand" stopProcessing="true">
                    <match url="^detail/(\w+)-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=detail&amp;id={R:1}" />
                </rule>
                <rule name="akmallOrderDetailIdRand" stopProcessing="true">
                    <match url="^detail/(\w+)-([0-9]+).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=detail&amp;id={R:1}&amp;uid={R:2}" />
                </rule>
				<rule name="akmallApiConfirm" stopProcessing="true">
                    <match url="^a/([0-9]+)" />
                    <action type="Rewrite" url="Api/confirm.php?id={R:1}" />
                </rule>
				
				<rule name="akmallOrderId" stopProcessing="true">
                    <match url="^Order/id-(.*).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=pay&amp;order_no={R:1}" />
                </rule>
				<rule name="akmallOrderwxpay" stopProcessing="true">
                    <match url="^Order/wxpay-(.*).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=payWxPayJsApi&amp;order_id={R:1}" />
                </rule>
				<rule name="akmallOrderorderQuery" stopProcessing="true">
                    <match url="^Order/orderQuery.html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=orderQuery" />
                </rule>
				<rule name="akmallOrderorderQuery2" stopProcessing="true">
                    <match url="^Order/orderQuery-(.*).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=orderQuery&amp;order_no={R:1}" />
                </rule>
				<rule name="akmallOrderResult" stopProcessing="true">
                    <match url="^Order/result/order_no/(.*).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=result&amp;order_no={R:1}" />
                </rule>
				<rule name="akmallOrderResult2" stopProcessing="true">
                    <match url="^Order/result/order_no/(.*)/uid/(.*).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;a=result&amp;order_no={R:1}&amp;order_no={R:2}" />
                </rule>
				<rule name="akmallOrderResult2" stopProcessing="true">
                    <match url="^Order/payWxPayWap-(.*).html" />
                    <action type="Rewrite" url="index.php?m=Order&amp;payWxPayWap&amp;order_id={R:1}" />
                </rule>
				
				<rule name="akmallItem" stopProcessing="true">
                    <match url="^item/index.html" />
                    <action type="Rewrite" url="index.php?m=Item&amp;a=index" />
                </rule>
				<rule name="akmallItemId" stopProcessing="true">
                    <match url="^item/id-(.*).html" />
                    <action type="Rewrite" url="index.php?m=Item&amp;a=order;id={R:1}" />
                </rule>
				<rule name="akmallItemQuery" stopProcessing="true">
                    <match url="^item/query.html" />
                    <action type="Rewrite" url="index.php?m=Item&amp;a=query" />
                </rule>
				<rule name="akmallItemCategory" stopProcessing="true">
                    <match url="^item/category.html" />
                    <action type="Rewrite" url="index.php?m=Item&amp;a=category" />
                </rule>
				<rule name="akmallItemCategory2" stopProcessing="true">
                    <match url="^item/category-(.*).html" />
                    <action type="Rewrite" url="index.php?m=Item&amp;a=category&amp;id={R:1}" />
                </rule>
				<rule name="akmallItemArticle" stopProcessing="true">
                    <match url="^item/article.html" />
                    <action type="Rewrite" url="index.php?m=Item&amp;a=article" />
                </rule>
				<rule name="akmallItemArticle2" stopProcessing="true">
                    <match url="^item/detail-(.*).html" />
                    <action type="Rewrite" url="index.php?m=Item&amp;a=detail&amp;id={R:1}" />
                </rule>
				
			</rules>	
        </rewrite>
    </system.webServer>
</configuration>