/*
 * 标题：AK单页订单管理系统企业版
 * 作者：123456（微信号）
 * 官方网址：123456
 * *
 * 警示信息：您可以复制使用本站静态文件（html/css/js/images），但请保留原创作者（微信号：123456）信息，谢谢。
 */
*{margin:0;padding:0;}
body{margin:0;padding:0;background-image:url("bg.jpg");background-attachment:fixed;background-size:cover;background-position:center top;font:14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", serif;color:#333;}
h1{font-size:20px}
h2{font-size:16px}
a{color:#EB5F3E;text-decoration:none}
a:hover{text-decoration:underline}
.wrapper{min-height:500px;background-color:rgba(247, 255, 253, 0.96);max-width:750px;margin:0 auto}
.akmall-page{padding:20px;border-bottom:1px solid #ccc;}
.akmall-page img{max-width:100%;}
.akmall-page .title{padding-bottom:20px;}

.akmall-order{background:none !important;}
.akmall-title{display:none;}
.akmall-theme-akmall .akmall-input-text{height:16px;line-height:16px;box-shadow:none;}
.rows-head{margin-bottom:0;padding-bottom:0;}
.rows-id-address {padding-top:0;}
.akmall-params-image{width:25% !important;}
.akmall-btn:hover{opacity:.8;}
.rows-id-price  .rows-head, .rows-id-quantity  .rows-head, .rows-id-datetime  .rows-head, .rows-id-salenum  .rows-head{float:none;}
#qrcode{background-color:#009AFF;}
.akmall-footer{border-top:none;background:none;margin-bottom:40px;}
#akmallComments .title{padding:10px 5px;}
.akmall-detail-content h2{border-top:none !important;}
.fav-list li{margin:10px !important;}

@media(max-width:600px){
	body{padding-top:8px;}
	.akmall-page{padding:5px 0px;}
}	